body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
}

a {
    font-size: 16px;
    color: aquamarine;
}

p {
    font-size: 21px;
    color: gray;
}

h2, h3 {
    font-size: 42px;
    font-weight: 300;
}

.phone-icon {
    margin-top: 40px;
}

footer {
    width: 100%;
    text-align: end;
    margin-right: 85px;
}